.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000814;
}

.login-card {
    background: linear-gradient(145deg, #001b34, #002a4e);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 255, 255, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
    border: 1px solid rgba(0, 255, 255, 0.3);
}

.login-card h2 {
    font-size: 24px;
    color: #00eaff;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #011b2b;
    color: #00eaff;
    border: 1px solid rgba(0, 255, 255, 0.5);
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #00eaff;
    color: #000814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #0088cc;
}

.login-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.login-card p {
    color: #00eaff;
    font-size: 14px;
}

.login-card a {
    color: #00eaff;
    text-decoration: none;
    font-weight: bold;
}

.login-card a:hover {
    text-decoration: underline;
}
